*.log
*.swo
*.swp
.DS_Store
.idea/
node_modules/
npm-debug.log
yarn.lock
.vscode/
yarn-error.log
lib/
.eslintrs.json
.nvmrc
.travis.yml
index.js
package-lock.json
run.js
yarn.lock
/test/
/build/
/docs/
/binaries/
